.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header__logo{
    display: flex;
    align-items: center;

    margin-right: 80px;
}
.header__logo--name{
    color: var(--blue-color);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;

    margin-left: 5px;
}

.header__nav-list{
    display: flex;
    gap: 40px;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}


.header__search{
    position: relative;

    margin-left: 110px;
}

.header__search-input{
    width: 300px;
    height: 66px;
    
    padding-left: 30px;
    color: var(--blue-color);
    font-weight: 500;
    font-size: 24px;
    border-radius: 36px;
    border: transparent;
    background: #FAFAFA;
}

.header__search-icon{
    position: absolute;
    top: 6px;
    right: 5px;
}

.header__cart{
    position: relative;
    margin-left: 10px;

    width: 159px;
    height: 66px;
    border-radius: 33px;
    border: 1px solid #E0E0E0;

    display: flex;
    align-items: center;
}
.header__cart-icon{
    position: absolute;
    top: 4px;
    left: 6px;
}

.cart-text{
    margin-left: 74px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: var(--blue-color);
}
.cart-counter{

}