.hero{
    background: #F1EFF0;
    background-image: url("../../images/Image.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    padding: 140px 0;
}
.subtitle{
    color: var(--green-color);
    font-family: 'Yellowtail';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title{
    width: 500px;
    margin-bottom: 23px;

    color: var(--blue-color);
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn{
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 28px 39px;

    color: var(--blue-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 16px;
    background: var(--yelow-color);
}
.btn-hero__icon{
    display: flex;
    align-items: center;
}
