<section class="about">
    <div class="container about__container">
        <h3 class="subtitle">About Us</h3>
        <h2 class="title">We Believe in Working
            Accredited Farmers</h2>
        <p class="text">Simply dummy text of the printing and typesetting industry. Lorem had ceased to
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            <div class="about__info-wrapper">
                <span class="about__icon"><img src="./images/veganfood.png"/></span>
                <div class="about__info">
                    <h3 class="product">Organic Foods Only</h3>
                    <p class="text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <span class="about__icon"><img src="./images/mailboxquality.png" /></span>
                <div class="about__info">
                    <h3 class="product">Quality Standards</h3>
                    <p class="text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
            </div>
        <button type="button" class="btn categories__btn about__btn">Shop Now
            <span class="categories__stars">
                <svg style="width: 19px; height:19px">
                    <use href="./images/symbol-defs.svg#icon-aerrow"></use>
                </svg>
            </span>
        </button>
    </div>
</section>