<section class="categories container">
    <h3 class="subtitle categories_subtitle">Categories</h3>
    <h2 class="title categories_title">Our Products</h2>
    <ul class="categories__list">
        <li class="categories__item">
            <p class="categories__name">Vegetable</p>
            <img src="./images/categories/broccoli.png" style="width: 335px; height: 300px;">
            <h3 class="product">Calabrese Broccoli</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$13.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Fresh</p>
            <img src="./images/categories/bananas.png" style="width: 335px; height: 300px;">
            <h3 class="product">Fresh Banana Fruites</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$14.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Millets</p>
            <img src="./images/categories/nuts.png" style="width: 335px; height: 300px;">
            <h3 class="product">White Nuts</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$15.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Vegetable</p>
            <img src="./images/categories/tomato.png" style="width: 335px; height: 300px;">
            <h3 class="product">Vegan Red Tomato</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$17.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Health</p>
            <img src="./images/categories/bean.png" style="width: 335px; height: 300px;">
            <h3 class="product">Mung Bean</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$11.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Nuts</p>
            <img src="./images/categories/hazelnut.png" style="width: 335px; height: 300px;">
            <h3 class="product">Brown Hazelnut</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$12.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Fresh</p>
            <img src="./images/categories/eggs.png" style="width: 335px; height: 300px;">
            <h3 class="product">Eggs</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$17.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
        <li class="categories__item">
            <p class="categories__name">Fresh</p>
            <img src="./images/categories/bread.png" style="width: 335px; height: 300px;">
            <h3 class="product">Zelco Suji Elaichi Rusk</h3>
            <div class="categories__info-wrapper">
                <p class="old-price">$20.00</p>
                <p class="new-price">$15.00</p>
                <span class="categories__stars">
                    <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
            </div>
        </li>
    </ul>
    <button type="button" class="btn categories__btn categ">Load More
        <span class="categories__stars">
            <svg style="width: 19px; height:19px" >
                <use href="./images/symbol-defs.svg#icon-aerrow"></use>
            </svg>
        </span>
    </button>
</section>