<section class="ecoFriendly">
    <div class="container ecoFriendly__wrapper">
        <div class="ecoFriendly__content">
            <h3 class="subtitle">Eco Friendly</h3>
            <h2 class="title ecoFriendly__title">Econis is a Friendly<br>
            Organic Store</h2>
            <ul class="ecoFriendly__list">
                <li class="ecoFriendly__item">
                    <h3 class="product">Start with Our Company First</h3>
                    <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremque laudantium. Sed ut perspiciatis.</p>
                </li>
                <li class="ecoFriendly__item">
                    <h3 class="product">Learn How to Grow Yourself</h3>
                    <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremque laudantium. Sed ut perspiciatis.</p>
                </li>
                <li class="ecoFriendly__item">
                    <h3 class="product">Farming Strategies of Today</h3>
                    <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremque laudantium. Sed ut
                        perspiciatis.</p>
                </li>
            </ul>
        </div>
    </div>
</section>