<div class="header__logo">
<span>
  <svg style="width: 36px;">
    <use href="./images/symbol-defs.svg#icon-logo" ></use>
  </svg>
</span>
<h2 class="header__logo--name">Organick</h2>
</div>
<nav>
  <ul class="header__nav-list">
    <li>Home</li>
    <li>About</li>
    <li>Pages</li>
    <li>Shop</li>
    <li>Projects</li>
    <li>News</li>
  </ul>
</nav>
<div class="header__search">
  <label >
    <input type="text" name="search" class="header__search-input">
    <span class="header__search-icon">
      <svg style="width: 56px; height: 56px;">
        <use href="./images/symbol-defs.svg#icon-search" ></use>
      </svg>
    </span>
  </label>
</div>
<div class="header__cart">
    <span class="header__cart-icon">
      <svg style="width: 56px; height: 56px;">
        <use href="./images/symbol-defs.svg#icon-cart"></use>
      </svg>
    </span>
    <p class="cart-text">Cart (<span class="cart-counter">0</span>)</p>
</div>
