<div class="offerAll">
    <div class="container">
        <div class="offerAll__wrapper">
            <div>
                <h3 class="subtitle">Offer</h3>
                <h2 class="offerAll__title title">We Offer Organic For You</h2>
            </div>
            <button class="btn">View All Product
                <span class="categories__stars">
                    <svg style="width: 19px; height:19px">
                        <use href="./images/symbol-defs.svg#icon-aerrow"></use>
                    </svg>
                </span>
            </button>
            </div>
                        <ul class="categories__list">
                            <li class="categories__item">
                                <p class="categories__name">Vegetable</p>
                                <img src="./images/mungBean.png" style="width: 335px; height: 300px;">
                                <h3 class="product">Mung Bean</h3>
                                <div class="categories__info-wrapper">
                                    <p class="old-price">$20.00</p>
                                    <p class="new-price">$11.00</p>
                                    <span class="categories__stars">
                                        <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                                            <use href="./images/symbol-defs.svg#icon-star"></use>
                                        </svg>
                                    </span>
                                </div>
                            </li>
                            <li class="categories__item">
                                <p class="categories__name">Vegetable</p>
                                <img src="./images/brownHazelnut.png" style="width: 335px; height: 300px;">
                                <h3 class="product">Brown Hazelnut</h3>
                                <div class="categories__info-wrapper">
                                    <p class="old-price">$20.00</p>
                                    <p class="new-price">$12.00</p>
                                    <span class="categories__stars">
                                        <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                                            <use href="./images/symbol-defs.svg#icon-star"></use>
                                        </svg>
                                    </span>
                                </div>
                            </li>
                            <li class="categories__item">
                                <p class="categories__name">Onion</p>
                                <img src="./images/onion.png" style="width: 335px; height: 300px;">
                                <h3 class="product">White Nuts</h3>
                                <div class="categories__info-wrapper">
                                    <p class="old-price">$20.00</p>
                                    <p class="new-price">$17.00</p>
                                    <span class="categories__stars">
                                        <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                                            <use href="./images/symbol-defs.svg#icon-star"></use>
                                        </svg>
                                    </span>
                                </div>
                            </li>
                            <li class="categories__item">
                                <p class="categories__name">Vegetable</p>
                                <img src="./images/cabbage.png" style="width: 335px; height: 300px;">
                                <h3 class="product">Cabbage</h3>
                                <div class="categories__info-wrapper">
                                    <p class="old-price">$20.00</p>
                                    <p class="new-price">$17.00</p>
                                    <span class="categories__stars">
                                        <svg style="width: 84px; height: 18px;" class="categories__stars-icon">
                                            <use href="./images/symbol-defs.svg#icon-star"></use>
                                        </svg>
                                    </span>
                                </div>
                            </li>
                        </ul>
    </div>
</section>