<section class="testimonial">
    <div class="testimonial_bgr">
        <div class="container testimonial__wrapper">
            <h3 class="subtitle">Testimonial</h3>
            <h2 class="title testimonial__title">What Our Customer Saying?</h2>
            <div class="testimonial__user-wrapper">
                <img src="./images/Sara.jpg" alt="photo Sara Taylor Consumer" class="testimonial__photo">
                <span>
                    <svg style="width: 122px; height:27px" class="testimonial__icon">
                        <use href="./images/symbol-defs.svg#icon-star"></use>
                    </svg>
                </span>
                <p class="text testimonial__text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been.</p>
                <h4 class="product testimonial__user">Sara Taylor</h4>
                <p class="text">Consumer</p>
            </div>
            <div class="testimonial__list-wrapper">
                    <ul class="testimonial__list">
                        <li class="testimonial__item">
                            <p class="product testimonial__item-text">100%</p>
                            <p class="product">Organic</p>
                        </li>
                        <li class="testimonial__item">
                            <p class="product testimonial__item-text">285</p>
                            <p class="product">Active Product</p>
                        </li>
                        <li class="testimonial__item">
                            <p class="product testimonial__item-text">350+</p>
                            <p class="product">Organic Orchads</p>
                        </li>
                        <li class="testimonial__item">
                            <p class="product testimonial__item-text">25+</p>
                            <p class="product">Years of Farming</p>
                        </li>
                    </ul>
            </div>
            
        </div>
    </div>
</section>